# Prerequisites
*.d
*.suo
*.snl
*.u2d
*.vfproj

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.manifest

# Precompiled Headers
*.gch
*.pch
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
miniFAVOR/.vs/miniFAVOR/v16/.suo
*.vfproj
*.vfproj
*.u2d
*.htm
*.pdb
*.pdb
*.opendb
*.db-shm
*.db-wal
*.db
miniFAVOR/.vs/miniFAVOR/v16/.suo
*.xlsx
*.in
*.pdb
*.vfproj
*.pdb
