[submodule "src/git-submodules/strff"]
	path = src/git-submodules/strff
	url = https://gitlab.com/everythingfunctional/strff.git
[submodule "src/git-submodules/iso_varying_string"]
	path = src/git-submodules/iso_varying_string
	url = https://gitlab.com/everythingfunctional/iso_varying_string.git
[submodule "src/git-submodules/vegetables"]
	path = src/git-submodules/vegetables
	url = https://gitlab.com/everythingfunctional/vegetables
[submodule "src/git-submodules/parff"]
	path = src/git-submodules/parff
	url = https://gitlab.com/everythingfunctional/parff
